 
<mat-toolbar color="primary">
  <span>Trip Expense Calculator</span>
  <span class="toolbar-spacer"></span>
  <button mat-raised-button color>
    SETTLE UP
  </button>
  <span class="button-spacer"></span>
  <button mat-raised-button (click)="openDialogToAddExpense()">
    ADD EXPENSE
  </button>
</mat-toolbar>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Amount Column -->
  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
  </ng-container>

 

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>