.toolbar-spacer {
    flex: 1 1 auto;
}

.button-spacer {
    margin: 5px;
}

table {
    width: 100%;
}

.payout {
    margin: 20px;

}

.owe {
    display: flex;
    flex-direction: row;
}

.spacer-owe {
    margin: 5px; 
}